html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 2px 2px;
}

.App {
    width: 100%;
    margin: 0 auto;
}

.container {
    margin: 15px auto;
    max-width: 800px;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 0 0;
        width: 100%;
    }
}

.btn {
    display: inline-block;
    border: none;
    background: #007bff;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
}

.btn:hover {
    background: #0069d9;
}
