html {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0.5rem 1rem;
}

.btn {
    display: inline-block;
    border: none;
    background: #007bff;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
}

.btn:hover {
    background: #0069d9;
}
